<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello {{ account.username }}, this is the account menu page</p>
<form action="{% url 'index' %}" method="get">
    <button type="submit">Log Out</button>
</form>
<form action="{% url 'withdraw' %}" method="get">
    <button type="submit">get a money</button>
</form>
<form action="{% url 'deposit' %}" method="get">
    <button type="submit">put a money in </button>
</form>
</body>
</html>