{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Account menu</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <h1> Account Menu </h1>

<div class="credentials">
  <h1> Hello {{ account.username }} </h1>
<form action="{% url 'index' %}" method="get">
    <button type="submit">Log Out</button>
</form>
<form action="{% url 'withdraw' %}" method="get">
    <button type="submit">Withdraw</button>
</form>
<form action="{% url 'deposit' %}" method="get">
    <button type="submit">Deposit </button>
</form>
<form action="{% url 'view_balance' %}" method="get">
    <button type="submit">View Balance</button>
</form>
<form action="{% url 'transfer' %}" method="get">
    <button type="submit">Transfer</button>
</form>
<form action="{% url 'manage_cards' %}" method="get">
    <button type="submit">Manage Cards</button>
</form>
</div>
{{ status_message }}
</body>
</html>
