{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Account menu</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
  <h1> Account Menu </h1>

<div class="credentials">
  <h1> hello {{ account.username }} </h1>
<form action="{% url 'index' %}" method="get">
    <button type="submit">Log Out</button>
</form>
<form action="{% url 'withdraw' %}" method="get">
    <button type="submit">Withdraw</button>
</form>
<form action="{% url 'deposit' %}" method="get">
    <button type="submit">Deposit </button>
</form>
<form action="{% url 'view_balance' %}" method="get">
    <button type="submit">View Balance</button>
</form>
</div>
{{ status_message }}
</body>
</html>
