{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM Status</title>
<link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
  <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
<div class = "credentials">
  <h1> ATM status </h1>

  <h3>Location: {{ atm.current_location }}</h3>
  <h3> current balance: {{ atm.current_balance }}</h3>
  <h3> next maintenance date: {{ atm.next_maintenance_date }}</h3>

  <h3> last refill date: {{ atm.last_refill_date }}</h3>

<form  action="{% url 'atm_listing' %}" method="get">
    <button type="submit"> ATM list </button>
</form>
<form  action="{% url 'admin_menu' %}" method="get">
      <button type="submit" > Admin menu </button>
</form>
</div>
</body>
</html>
