{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Creation</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div class="credentials">
    <h1> Account Creation </h1>
<form  action="{%  url 'create_account_post' %}" method="post">
    {% csrf_token %}
    <label for="username_entry">Enter Username</label>
    <input id="username_entry" type="text" name="username" value="">
    <br>
    <label for="password_entry">Enter password</label>
    <input id="password_entry" type="password" name="password" value="">
    <br>
    <label for="phone_entry">Enter phone number</label>
    <input id="password_entry" type="text" name="phone" value="">
    <br>
    <label for="address_entry">Enter address</label>
    <input id="password_entry" type="text" name="address" value="">
    <br>
    <button type="submit"> Submit </button>
</form>

<form  action="{% url 'index' %}" method="get">
    <button type="submit" > Return to Log in </button>
</form>
</div>
<div class="errorClass">
{% for error in errors %}
    <p >{{ error }}</p>
{% endfor %}
</div>
</body>
</html>
