{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
</head>
<body>
<h1> Deposit </h1>
<form class="credentials" action="{% url 'deposit_post' %}" method="post">
    {% csrf_token %}
    <label>
        Deposit: <input type="text" name="amount">
    </label>
    <input type="submit" value="Submit">
</form>

{% for error in errors %}
    <p class="errorClass">{{ error }}</p>
{% endfor %}

</body>
</html>
