{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<h1> Deposit </h1>
<div class="credentials">
<form  action="{% url 'deposit_post' %}" method="post">
    {% csrf_token %}
    <label>
        Deposit: <input type="text" name="amount">
    </label>
    <button type="submit" > Submit </button>
</form>

<form action="{% url 'account_menu' %}" method="get">
    <button type="submit">Return to menu</button>
</form>
</div>
{% for error in errors %}
    <p class="errorClass">{{ error }}</p>
{% endfor %}

</body>
</html>
