{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
</head>
<body>
  <h1> Python ATM </h1>
{% if error %}<p class = "errorClass">{{ error }}</p>{%  endif %}
<form class="credentials" action="{%  url 'authenticate_account' %}" method="post">
    {% csrf_token %}
    <h1> Sign in </h1>
    <label for="username_entry">Enter Username</label>
    <input id="username_entry" type="text" name="username" value="">
    <br>
    <label for="password_entry">Enter password</label>
    <input id="password_entry" type="password" name="password" value="">
    <br>
    <input type="submit" value="Log in">
</form>
<div class="create-account">
<h1>Create an account</h1>
<form action="{% url 'create_account' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Create Account">
</form>
<form action="{% url 'admin_login' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Log in as admin">
</form>
</div>
<p>{{ status_code }}</p>
</body>
</html>
