<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
How many money ya want
<form action="{% url 'withdraw_post' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="amount" value="20">
    <input type="submit" name="amount" value="40">
    <input type="submit" name="amount" value="60">
    <input type="submit" name="amount" value="80">
</form>
<form action="{% url 'withdraw_post' %}" method="post">
    {% csrf_token %}
    <label>
        Custom Amount<input type="text" name="amount">
    </label>
    <input type="submit" value="Submit">
</form>

{% for error in errors %}
    <p>{{ error }}</p>
{% endfor %}

</body>
</html>