{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
      <link rel="icon" type="image/png" href="{% static 'credit-card-4x.png' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
</head>
<body>

<form class="credentials" action="{% url 'withdraw_post' %}" method="post">
  <h1>Withdraw </h1>
    {% csrf_token %}
    <input type="submit" name="amount" value="20">
    <input type="submit" name="amount" value="40">
    <input type="submit" name="amount" value="60">
    <input type="submit" name="amount" value="80">
</form>
<form action="{% url 'withdraw_post' %}" method="post">
    {% csrf_token %}
    <label>
        Custom Amount<input type="text" name="amount">
    </label>
    <input type="submit" value="Submit">
</form>

{% for error in errors %}
    <p class="errorClass">{{ error }}</p>
{% endfor %}

</body>
</html>
