body{
    background-color: #0f121f;
    background-image: url(earth.jpg);
    background-size:cover;
    background-repeat-y: no-repeat;
    color: #fff;
}

body *{
    font-family: 'Big Shoulders Display',cursive;
    font-family: 'Press Start 2P', cursive;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

.errorClass{
  color: #c56250;
  background-color: #0f121f;
  position: relative;
  animation-name: up_down;
  animation-duration: 0.2s;
  animation-iteration-count: 4;
}

@keyframes up_down {
  from {color:  #c56250; top: 0px; }
  to {color: #fe840e; top: 10px;}

}
.credentials input{


    margin: 1px;
    border-radius: 5px;


}


h3{}

button {
  display: block;
  width: 100%;
border: 1px solid #000000;
background-color: #888888;
  padding: 14px 28px;
  margin: 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

button:hover{
  background-color: #ffcc11;
}

input:hover{
  background-color: #ffcc11;

}

.credentials {

  padding: 3px;
  border: 3px groove #cccccc;
  border-radius: 5px;
  position: relative;



}



.create-account{
  margin-top: 5px;
  padding: 10px;
  border: 3px groove #cccccc;
  border-radius: 5px;
  position: relative;
  padding-bottom: 5px;



}

.create-account input{

  margin: 3px;
  border-radius: 5px;

}

.account-options {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}
